<h1>New message</h1>
<form action="/new" method="post">
  <label for="user">Author:</label>
  <input type="text" name="user" id="user" />
  <label for="message">Message: </label>
  <input type="text" name="text" id="message" />
  <button type="submit">Send</button>
</form>
